{
    "trailingComma": "none",
    "tabWidth": 2,
    "semi": false,
    "singleQuote": false,
    "prettier/prettier": [
        "error",
        {
          "endOfLine": "auto"
        }
      ]
  }